.nav-1 {
    color: rgba(255, 255, 255, 0.685);
    transition-duration: 0.4s;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 15px;
}

.nav-1:hover {
    background-color: #159c787a; /* Green */
    color: white;
}
